data/
*pycache/
__pycache__/
*.pyc
Processed/
exports/
app/frontend/node_modules/
app/frontend/node_modules/.vite/
notebooks/.ipynb_checkpoints/
xexpores/
scripts/__pycache__/
scripts/archive/
tests/__pycache__/
models/
tests/